# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
media/
static/

# Virtual Environment
virt/
venv/
env/
ENV/
.env

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Project specific
/staticfiles/
.env.local
.env.development.local
.env.test.local
.env.production.local

#python files
add_showtime.py
add_movie_cast.py
add_theater.py
add_seats.py