{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Register{% endblock %}

{% block content %} 

    <div class="container-fluid col-md-8">
        <br><br><br>

        <h1 class="text-center">Register</h1>
        <br>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <br>
                    <input type="submit" value="Register" class="btn btn-primary">
                    <p>
                        Already have an account? <a href="{% url 'login' %}">Login</a>
                    </p>
                </form>
            </div>
        </div>
        <br><br><br>
    </div>

{% endblock %}
